:root{
    --header-color: #F7F6FF
}
body{
    margin: 0px;
}

.hello {
    background: red;
    display: flex;
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
}
.datetime {
width: 250px;
height: 80px;
background: blue;
border-radius: 30px;
}
.time {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
}
.time span:last-child{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}
.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh; 
    background-color: var(--header-color);
    transition: 0.3s;   
}
.header:hover{
    width: 206px;
}
.header:hover .home{
    visibility: visible;
    opacity: 1;
}
.logo {
    display: block;
    width: 68px;
    height: auto;
    margin:58px auto 18px auto;
}
hr {
    width: 50%;
    height: 1px;
    background-color:#C4C4C4;
    border: 1px solid #C4C4C4;
}
.navi {
    margin-top: 32px;
}
.home {
    display: flex;
    align-items: center;
    padding: 0 32px;
    border-radius: 300px 0 0 300px;
    margin-left: 11px;   
}
.main-icon >.icon-link {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    display: none;
    font-size: 16px;
    color: #02577A;
    font-weight: 600;
    margin-left:15px;
    opacity: 1;
    bottom: 50%;
    left:40%;
    transform: translateY(50%);
}
.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    size: 25px 25px;
}
.FE {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    size: 25px 25px;
}
.games {
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    size: 40px 25px;
}
.main-icon:hover {
background-color: #fff;
display: flex;
flex-direction: column;
align-items: center;
}
.icons{
    display: inline-block;
    height: 25px;
    width: auto;
    margin: 15px auto;
}
.header:hover .icon-link {
    display: flex;
    flex-direction: row;
}